@{
    Layout = null;
}

<html>
<head>
    <title>Logged in</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/threax.bootstrap.css" />
</head>
<body data-hr-run="hr.relogin.logged-in-page">
    <p>Logged in, you can now close this window if it does not close automatically.</p>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/polyfill.js"></script>
    <script type="text/javascript" src="~/lib/tslib.js"></script>
    <script type="text/javascript" src="~/lib/tsbin.js"></script>
    <script type="text/javascript" src="~/lib/hr-run.js"></script>
</body>
</html>